[property]
gpu-id={gpu_id}
net-scale-factor=0.00392156862745098
onnx-file={model_path}
model-engine-file={engine_path}
labelfile-path={labels_path}
batch-size={batch_size}
process-mode=1
model-color-format=0
network-mode=2
num-detected-classes=4
interval={interval}
gie-unique-id=1
cluster-mode=2
maintain-aspect-ratio=1
symmetric-padding=1

[class-attrs-all]
topk=50
nms-iou-threshold=0.5
pre-cluster-threshold=0.2

[class-attrs-0]
pre-cluster-threshold=0.35

[class-attrs-1]
pre-cluster-threshold=0.20

[class-attrs-2]
pre-cluster-threshold=0.30

[class-attrs-3]
pre-cluster-threshold=0.25
