[property]
gpu-id={gpu_id}
net-scale-factor=1
onnx-file={model_path}
model-engine-file={engine_path}
labelfile-path={labels_path}
batch-size={batch_size}
model-color-format=1
network-mode=2
is-classifier=1
process-mode=2
classifier-async-mode=1
classifier-threshold=0.51
input-object-min-width=64
input-object-min-height=64
operate-on-gie-id=1
operate-on-class-ids=0
classifier-type=vehicletype
gie-unique-id=2
